* {
    box-sizing: border-box;
    margin: 0;
    padding: o;
}

.bg-image {
    background: url('./../../images/bgmain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;
    height: 92vh;
    margin-right: 0px;
    background-attachment: fixed;
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe5b9;
    flex-direction: column;
}

@media screen and (max-width: 580px) {
    .center-text h1 {
        font-size: 25px;
    }
    .center-text h2 {
        font-size: 20px;
    }
}

.img1 {
    width: 250px;
    height: 200px;
    background: url('./../../images/indian.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.img2 {
    width: 250px;
    height: 200px;
    background: url('./../../images/italian.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.img3 {
    width: 250px;
    height: 200px;
    background: url('./../../images/mexican.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.img4 {
    width: 250px;
    height: 200px;
    background: url('./../../images/chinese.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.speciality {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    /* height: 200px; */
    background-color: #fff2de;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-box p {
    font-size: 20px;
}

.address {
    width: 20%;
    font-size: 20px;
    font-weight: bold;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.map {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;
}

.google-map {
    width: 80%;
}

@media screen and (max-width: 580px) {
    .speciality {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100%;
    }
}